body{
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: rgba(15, 15, 15, 0.781);
}

h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace
}